anndata==0.9.2
CacheControl==0.13.1
flask==2.3.2
flask-compress==1.13
fsspec==2023.6.0
gunicorn==21.2.0
h5py==3.9.0
loompy==3.0.7
numpy==1.25.2
pandas==2.0.3
pyarrow==12.0.1
pymongo==4.4.1
requests==2.31.0
scipy==1.11.1
zarr==2.16.0
