anndata==0.8.0
CacheControl==0.12.10
flask==2.1.1
flask-compress==1.11
fsspec==2022.3.0
gunicorn==20.1.0
h5py==3.6.0
loompy==3.0.7
numpy==1.22.2
pandas==1.3.5
pyarrow==7.0.0
pymongo==4.0.2
scipy==1.8.0
zarr==2.11.1

